# Data import/export

## readr

In [1]:
library('tidyverse')

── Attaching packages ──────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.5     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.0.2     ✔ forcats 0.5.1

── Conflicts ─────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
# read_csv

In [3]:
# write_csv

In [4]:
library('nycflights13')

weather |> head()

  origin year month day hour temp  dewp  humid wind_dir wind_speed wind_gust
1 EWR    2013 1     1   1    39.02 26.06 59.37 270      10.35702   NA
2 EWR    2013 1     1   2    39.02 26.96 61.63 250       8.05546   NA
3 EWR    2013 1     1   3    39.02 28.04 64.43 240      11.50780   NA
4 EWR    2013 1     1   4    39.92 28.04 62.21 250      12.65858   NA
5 EWR    2013 1     1   5    39.02 28.04 64.43 260      12.65858   NA
6 EWR    2013 1     1   6    37.94 28.04 67.21 240      11.50780   NA
  precip pressure visib time_hour
1 0      1012.0   10    2013-01-01 01:00:00
2 0      1012.3   10    2013-01-01 02:00:00
3 0      1012.5   10    2013-01-01 03:00:00
4 0      1012.2   10    2013-01-01 04:00:00
5 0      1011.9   10    2013-01-01 05:00:00
6 0      1012.4   10    2013-01-01 06:00:00

In [5]:
weather |> write_csv('weather.csv')

In [6]:
weather_from_file = read_csv('weather.csv', col_types = cols())

In [7]:
system("head weather.csv", intern=TRUE)

 [1] "origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour"
 [2] "EWR,2013,1,1,1,39.02,26.06,59.37,270,10.357019999999999,NA,0,1012,10,2013-01-01T06:00:00Z"
 [3] "EWR,2013,1,1,2,39.02,26.96,61.63,250,8.05546,NA,0,1012.3,10,2013-01-01T07:00:00Z"
 [4] "EWR,2013,1,1,3,39.02,28.04,64.43,240,11.5078,NA,0,1012.5,10,2013-01-01T08:00:00Z"
 [5] "EWR,2013,1,1,4,39.92,28.04,62.21,250,12.658579999999999,NA,0,1012.2,10,2013-01-01T09:00:00Z"
 [6] "EWR,2013,1,1,5,39.02,28.04,64.43,260,12.658579999999999,NA,0,1011.9,10,2013-01-01T10:00:00Z"
 [7] "EWR,2013,1,1,6,37.94,28.04,67.21,240,11.5078,NA,0,1012.4,10,2013-01-01T11:00:00Z"
 [8] "EWR,2013,1,1,7,39.02,28.04,64.43,240,14.960139999999999,NA,0,1012.2,10,2013-01-01T12:00:00Z"
 [9] "EWR,2013,1,1,8,39.92,28.04,62.21,250,10.357019999999999,NA,0,1012.2,10,2013-01-01T13:00:00Z"
[10] "EWR,2013,1,1,9,39.92,28.04,62.21,260,14.960139999999999,NA,0,1012.7,10,2013-01-01T14:00:00Z"

## Reading data directly from URL

In [8]:
# also works with read.csv

marathon_df = read_csv(
    'https://raw.githubusercontent.com/chuckpr/BIOS512/main/in-class-exercises/data/marathon.csv',
    col_types = cols()
)

# marathon_df = read_csv(
#     'https://raw.githubusercontent.com/chuckpr/BIOS512/main/in-class-exercises/data/marathon.csv',
#     col_types = cols()
# )

In [9]:
marathon_df |> head() # try with print

  year name                       country       time       race.time MF
1 2019 Lawrence Cherono           Kenya         2H 7M 57S  2.132500  Men's
2 2018 Yuki Kawauchi              Japan         2H 15M 58S 2.266111  Men's
3 2017 Geoffrey Kirui             Kenya         2H 9M 37S  2.160278  Men's
4 2016 Lemi Berhanu               Ethiopia      2H 12M 45S 2.212500  Men's
5 2015 Lelisa Desisa              Ethiopia      2H 9M 17S  2.154722  Men's
6 2014 Mebrahtom "Meb" Keflezighi United States 2H 8M 37S  2.143611  Men's
  country.simple
1 Kenya
2 Japan
3 Kenya
4 Ethiopia
5 Ethiopia
6 United States

In [10]:
# marathon_df |> print()

In [11]:
read_csv('https://raw.githubusercontent.com/chuckpr/BIOS512/main/in-class-exercises/data/marathon.csv') |>
    head()

# col_types = cols()

Rows: 171 Columns: 7

── Column specification ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (5): name, country, time, MF, country.simple
dbl (2): year, race.time


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  year name                       country       time       race.time MF
1 2019 Lawrence Cherono           Kenya         2H 7M 57S  2.132500  Men's
2 2018 Yuki Kawauchi              Japan         2H 15M 58S 2.266111  Men's
3 2017 Geoffrey Kirui             Kenya         2H 9M 37S  2.160278  Men's
4 2016 Lemi Berhanu               Ethiopia      2H 12M 45S 2.212500  Men's
5 2015 Lelisa Desisa              Ethiopia      2H 9M 17S  2.154722  Men's
6 2014 Mebrahtom "Meb" Keflezighi United States 2H 8M 37S  2.143611  Men's
  country.simple
1 Kenya
2 Japan
3 Kenya
4 Ethiopia
5 Ethiopia
6 United States

In [13]:
read_csv('https://github.com/rfordatascience/tidytuesday/raw/master/data/2019/2019-01-08/IMDb_Economist_tv_ratings.csv') |>
    head()

Rows: 2266 Columns: 7

── Column specification ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): titleId, title, genres
dbl  (3): seasonNumber, av_rating, share
date (1): date


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  titleId   seasonNumber title          date       av_rating share
1 tt2879552 1            11.22.63       2016-03-10 8.4890    0.51
2 tt3148266 1            12 Monkeys     2015-02-27 8.3407    0.46
3 tt3148266 2            12 Monkeys     2016-05-30 8.8196    0.25
4 tt3148266 3            12 Monkeys     2017-05-19 9.0369    0.19
5 tt3148266 4            12 Monkeys     2018-06-26 9.1363    0.38
6 tt1837492 1            13 Reasons Why 2017-03-31 8.4370    2.38
  genres
1 Drama,Mystery,Sci-Fi
2 Adventure,Drama,Mystery
3 Adventure,Drama,Mystery
4 Adventure,Drama,Mystery
5 Adventure,Drama,Mystery
6 Drama,Mystery