In [1]:
library('tidyverse')

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──

✔ ggplot2 3.2.0     ✔ purrr   0.3.2
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   0.8.3     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

This is the data we'll use:

In [2]:
df.marathon = read.csv('../data/marathon.csv')
df.marathon |> head()

  year name                       country       time       race.time MF
1 2019 Lawrence Cherono           Kenya         2H 7M 57S  2.132500  Men's
2 2018 Yuki Kawauchi              Japan         2H 15M 58S 2.266111  Men's
3 2017 Geoffrey Kirui             Kenya         2H 9M 37S  2.160278  Men's
4 2016 Lemi Berhanu               Ethiopia      2H 12M 45S 2.212500  Men's
5 2015 Lelisa Desisa              Ethiopia      2H 9M 17S  2.154722  Men's
6 2014 Mebrahtom "Meb" Keflezighi United States 2H 8M 37S  2.143611  Men's
  country.simple
1 Kenya
2 Japan
3 Kenya
4 Ethiopia
5 Ethiopia
6 United States

What's the best race time? (*Hint: use `summarize` with the `min` function*)

In [3]:
df.marathon |> summarize(min.race.time = min(race.time))

  min.race.time
1 2.050556

What's the best race time for the men and women?

In [4]:
df.marathon |> 
    group_by(MF) |>
    summarize(min.race.time = min(race.time))

  MF      min.race.time
1 Men's   2.050556
2 Women's 2.333056

What's the median race time for the US women? (*Hint: use `|> filter(country == "United States")` to filter the data to just the US*)

In [6]:
df.marathon |> 
    filter(country == "United States") |>
    group_by(MF) |>
    summarize(min.race.time = min(race.time))

  MF      min.race.time
1 Men's   2.143611
2 Women's 2.378611

What's the median race time for the Kenyan men? (*Hint: use `|> filter(country == "Kenya")` to filter the data to just Kenya*)

In [7]:
df.marathon |> 
    filter(country == "Kenya") |>
    group_by(MF) |>
    summarize(median.race.time = median(race.time))

  MF      median.race.time
1 Men's   2.155139
2 Women's 2.411389

How many winners have there been for the US and Kenya?

In [8]:
df.marathon |> 
    filter(country %in% c("Kenya", "United States")) |>
    group_by(country) |>
    summarize(N = n())

  country       N
1 Kenya         34
2 United States 54