# ECDF plots

In [2]:
# uncomment the following:

# library('tidyverse')
# options(repr.plot.width = 4, repr.plot.height = 3, repr.plot.res = 300)

This cell provides the data ðŸ‘‡.

In [5]:
# otter.data = read.csv('https://jcoliver.github.io/learn-r/data/otter-mandible-data.csv') %>%
#     gather(characteristic, value, -species, -museum, -accession) %>%
#     drop_na() %>%
#     group_by(species, characteristic) %>%
#     arrange(value) %>%
#     mutate(ecdf_y = row_number() / n()) %>%
#     ungroup()

# otter.data %>% head

  species    museum      accession characteristic value ecdf_y
1 A. cinerea AMNH        101471    m5             8.245 0.04347826
2 A. cinerea AMNH        101461    m5             8.340 0.08695652
3 A. cinerea AMNH        101466    m5             9.430 0.13043478
4 A. cinerea Smithsonian 314979    m5             9.510 0.17391304
5 A. cinerea AMNH        101459    m5             9.600 0.21739130
6 A. cinerea AMNH        101470    m5             9.985 0.26086957

Make an ECDF plot of `value` and:
- facet by characteristic
- allow the x-axis of each facetted plot to be independent (for the value of the the `scales` argument in `facet_wrap` use `"free_x"`)
- color/group by species  

Species names are typically italicized. Use `theme` and `element_text` to adjust the legend text so that it is italic.

Which otter species has the smallest skull?

You can uncomment the following line and change the cell type to `markdown` to see what the solution should look like ðŸ‘‡.

In [ ]:
# <img src="ecdf_otter_skull.png" />